<div id="portfolio">
  <div class="row">
    <h2 class="text-bg section-heading text-center">
      Things I Have Made
    </h2>
  </div>
</div>
<div id="portfolio-body">
  <h3>All of them made by hand with pride</h3>
<ul class="flex-container">
  <% @projects.each do |project| %>
      <div class="text-bg" style="margin:10px">
      <li class="thumbnail project-item">
        <a href=<%= project.url %>>
          <img class="img-responsive" src=<%= project.image_link %>>
        </a>
        <div class="caption">
          <h3 class="text-center"><%= project.title %></h3>
          <p><%= project.description %></p>
        </div>
      </li>
      </div>
  <% end %>
</ul>
</div>
