---
layout: default
---

<div id="blog-body">
  <div class="container">
    <div class="row">
      <div class="text-bg col-sm-10 col-sm-offset-1 post">
<h1>
  {{ page.title }}
</h1>

{% if page.image.feature %}
  <img src="{{ site.baseurl }}/images/{{ page.image.feature }}" class="img-responsive center-block">
{% endif %}

{{ content }}
<div class="row">
  
<h4 class="col-sm-6 post-date">
  Written on
  {% assign d = page.date | date: "%-d"  %}
  {{ page.date | date: "%B" }}
  {% case d %}
    {% when '1' or '21' or '31' %}{{ d }}st
    {% when '2' or '22' %}{{ d }}nd
    {% when '3' or '23' %}{{ d }}rd
    {% else %}{{ d }}th{% endcase %},
  {{ page.date | date: "%Y" }}
  by {{ site.author.name }}
</h4>

<div class="col-sm-5">
{% include social-sharing.html %}
</div>
</div>
{% include related-posts.html %}

<hr>

{% if site.disqus %}
  {% include disqus.html %}
{% endif %}
</div>
</div>
</div>
</div>


