<h4 class="post-date text-right">Feel free to share!</h4>
  <div class="sharing-icons text-right">
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&amp;url={{ site.url }}{{ site.baseurl }}{{ page.url }}&amp;via={{ site.author.twitter }}" target="_blank" class="tw"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}&amp;title={{ page.title }}" target="_blank" class="fb"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
    <a href="https://plus.google.com/share?url={{ site.url }}{{ site.baseurl }}{{ page.url }}" target="_blank" class="gp"><i class="fa fa-google-plus fa-2x" aria-hidden="true"></i></a>
  </div>
